@import url('//fonts.googleapis.com/css?family=Mukta:500');

@include headings {
  @include heading-style;
}

.h1 {
  @include h1;
}

.h2 {
  @include h2;
}

.h3 {
  @include h3;
  color: $color-brand-secondary;
}

.h4 {
  @include h4;
  color: $color-brand-secondary;
}

.h5 {
  @include h5;
  color: $color-brand-secondary;
}

.h6 {
  @include h6;
  color: $color-brand-secondary;
}

@include noselect;
@include p-style;
@include h-color--greyed-out;
@include h-font-sizes;
