import * as React from 'react';

interface Props {
};

interface State {
};

class {{ properCase name }} extends React.Component<Props, State> {
    render() {
        return (
            <div></div>
        )
    }
};

export default {{ properCase name }};
