.o-markdown {
    a, p, li {
        font-family: Asap;
        font-size: 1em;
    }
    ul {
        padding: 7px 7px;
    }
    li {
        list-style-type: disc; 
    }
    h1 {
        font-size: 3.5rem;
    }
    h2, h3, h4, h5, h6 {
        font-family: Staatliches;
        font-size: 1.8em;
    }
    code {
        display: inline;
        padding: 2px 2px;
    }

    // pre { 
    //     background-color: black;
    //     color: white;
    // }

    pre > code {
        padding: 7px 14px;
        display: block;
        background-color: transparent;
    }
}