.o-markdown {
    a, p, li {
        font-family: Asap;
        font-size: 1em;
    }
    h1 {
        font-size: 3.5rem;
    }
    h2, h3, h4, h5, h6 {
        font-family: Staatliches;
        font-size: 1.8em;
    }
}