.m-rtc {
  h1 {
    @include heading-style;
    @include h1;
    margin-bottom: .5em;
  }

  h2 {
    @include heading-style;
    @include h2;
    margin-bottom: .5em;
  }

  h3 {
    @include heading-style;
    @include h3;
    margin-bottom: .5em;
    color: $color-brand-secondary;
  }

  h4 {
    @include heading-style;
    @include h4;
    margin-bottom: .5em;
    color: $color-brand-secondary;
  }

  h5 {
    @include heading-style;
    @include h5;
    margin-bottom: .5em;
    color: $color-brand-secondary;
  }

  h6 {
    @include heading-style;
    @include h6;
    margin-bottom: .5em;
    color: $color-brand-secondary;
  }

  @include noselect;
  @include p-style;
  @include h-color--greyed-out;
  @include h-font-sizes;

  p {
    margin-bottom: 1em;
  }

  ul,
  ol {
    margin: 0;
    padding: 0;
    margin-top: 1em;
    margin-bottom: 1em;

    > li {
      position: relative;
      margin-left: 40px;
      min-height: 2em;
      line-height: 1.7em;

      &::before {
        content: '\2022';
        color: $color-brand-secondary;
        font-size: 1.1em;
        display: inline-block;
        width: 1em;
        margin-left: -1em;
      }
    }
  }

  ul {
    list-style: none;
  }

  .a-list--checked {
    list-style: none;

    > li {
      font-size: map-get($header-font--sizes, 'h5');
      line-height: normal;
      padding-bottom: $base-spacing;
      padding-left: $base-spacing * 1.5;

      &::before {
        content: none;
      }

      &::after {
        color: $color-brand-secondary;
        font-size: 34px;
        top: 0;
        left: -5px;
        line-height: .75em;
      }
    }
  }
}
