.m-section__title {
  padding: map-get($spacings, 4) 0 map-get($spacings, 3);

  @include mq('M') {
    padding: map-get($spacings, 5) 0 map-get($spacings, 4);
  }

  .m-section__title--container {
    @include contained;
    position: relative;
    text-align: left;

    .m-section__title--heading {
      @include heading-style;
      @include h2;
      display: inline-block;
      position: relative;
      max-width: 80%;
      color: $color-text-brand-heading;

      .h-background-color--contrast-primary &,
      .h-background-color--contrast-secondary &,
      .h-background-color--contrast-tertiary & {
        color: $color-text-brand-heading;
      }

      .h-background-color--brand-primary &,
      .h-background-color--brand-secondary &,
      .h-background-color--brand-tertiary & {
        color: $color-text-contrast-heading;
      }
    }
  }
}
