.m-teaser-block {
  margin: 0 auto;
  margin-top: $grid-spacing;
  margin-bottom: $grid-spacing;
  font-family: $default-font;
  font-size: $base-fontsize;
  background-color: $color-contrast-secondary;
  padding-bottom: map-get($spacings, 3);
  position: relative;
  min-height: 1px;
  display: flex;
  flex-direction: column;

  > * {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    flex: none;
  }

  .m-grid--spacious & {
    @include mq('M') {
      margin-top: ($grid-spacing * 2);
      margin-bottom: ($grid-spacing * 2);

      @include mq('L') {
        margin-top: $grid-spacing--spacious;
        margin-bottom: $grid-spacing--spacious;
      }
    }
  }

  .h-background-color--contrast-secondary &,
  .h-background-color--contrast-tertiary & {
    background-color: $color-contrast-primary;
  }

  &__title {
    @include heading-style;
    @include h3;
    margin-bottom: map-get($spacings, 2);
    color: $color-text-brand-body;
    width: 100%; // IE flexbox fix
    padding-left: map-get($spacings, 3);
    padding-right: map-get($spacings, 3);
    white-space: pre-line;
  }

  &__subtitle {
    position: absolute;
    left: 0;
    top: map-get($spacings, 3);
    background-color: $color-brand-primary;
    line-height: 12px;
    padding: map-get($spacings, 1);
    font-size: $small-font-size;
    color: $color-contrast-primary;
    max-width: 75%;
    white-space: pre-line;

    .h-background-color--brand-primary & {
      background-color: $color-contrast-secondary;
      color: $color-brand-primary;
    }
  }

  &__content {
    width: 100%; // IE flexbox fix
    margin-bottom: map-get($spacings, 3);
    padding-left: map-get($spacings, 3);
    padding-right: map-get($spacings, 3);
    white-space: pre-line;
  }

  &__image {
    display: block;
    margin-bottom: map-get($spacings, 3);
    background-color: $color-shade-darkest;
    text-align: center;
    overflow: hidden;

    > * {
      display: block !important; // sass-lint:disable-line no-important
      font-size: 0;
      vertical-align: top;
    }

    img {
      margin: 0 auto;
      margin-bottom: -1px;
    }
  }

  .a-button {
    margin-top: auto;
    margin-left: map-get($spacings, 3);
    margin-right: map-get($spacings, 3);
    align-self: flex-start;

    &:not(.a-button--link) {
      @include mq('M') {
        @include mq('L-max') {
          .m-grid__M4 & { // sass-lint:disable-line class-name-format
            @include tiny-button;
          }
        }
      }
    }
  }
}
