$theme: 'theme';

$scopes: (
  '',
  '--#{$theme}'
);

///////////////////////////////////////////////
//
// vars
//
///////////////////////////////////////////////

// font basics
$base-fontsize:			14px;
$base-lineheight:		1.75;

// fontstacks
$default-font:	"Asap", Helvetica, Arial, sans-serif;
$alt-font:		"Alegreya Sans SC", "Times New Roman", Times, Baskerville, Georgia, serif;

// standard sizing
$base-spacing:		14px;
$half-spacing:		$base-spacing/2;
$double-spacing:	$base-spacing*2;

// z-indexes
$zindexDropdown: 		1000;
$zindexPopover: 		1010;
$zindexTooltip: 		1020;
$zindexModalBackdrop: 	1030;
$zindexModal: 			1040;

// slightly kinda random picked number for max. width of regular site content
$max-site-width:		1110px;
// content has a different max width
$max-content-width: 	740px;

// mediaquery breakpoints
/*
   these general breakpoints are in principle only to be used in the layout grid
   the breakpoints are used 'mobile first'
   !! components should have their own breakpoints defined by their unique design !!
*/
$breakpoints: (
	"S":	650px,
	"M":	1024px,
	"L":	$max-site-width
);

/* =============================================================================
   Grid config
   ========================================================================== */

	$use-grid:			true;

	// grid cell naming
	/* 
		will construct:
			.[$gridname]
			.[$gridname]__[cellsizename],
			.[$gridname]__[$breakpoints name][cellsizename] 
	*/
	$gridname:			"m-grid";
	$gridcellname:		#{$gridname + "__"};

	// grid gutter size
	$grid-spacing:		$base-spacing;

	// cell offsets
	/* generates lots of extra classes, use only when needed */
	$grid-offsets:		false;

	// grid cell offset naming
	/* will construct:
		.[$offsetname]__[cellsizename]
		.[$offsetname]__[$breakpoints name][cellsizename] 
	*/
	$offsetname:		"m-offset__";

	// media query grid
	/* will only render for mq's defined in $breakpoints */
	$grid-responsive:	true;


	////////////////////////////////////////////////////////
	$headerHeight:			80px;
  $headerMobileHeight:	54px;
  
// font basics
$small-font-size: 14px;

// fontstacks
$header-font--font-weight: 700;
$default-font--font-weight: 400;
$bold-font--font-weight: 700;
$font-family-header: 'Mukta', sans-serif;
$font-family-header: var(--typeface-headings);
$font-family-header--font-weight: 500;

$header-font--sizes: (
  'h1': 40px,
  'h2': 30px,
  'h3': 20px,
  'h4': 18px,
  'h5': 18px,
  'h6': 18px,
);

$z-index: (
  background:                 -1,
  navigation:               1001,
  header:                   1002,
  shopheader-background:    -1,
  shopheader-content:       2,
);

$breakpoints: (
  'XS':	375px,
  'S':	576px,
  'M':	768px,
  'L':  1024px,
  'XL':	1132px
) ;

// specific for components
$switch-nav-height: 60px;

// sass-lint:disable no-css-comments
/* available fonts;
normal = normal
normal italic = normal italic
light = 300
semi-light italic = 300
semi-bold = 600
bold = bold
*/
// sass-lint:enable no-css-comments

$grid-spacing--spacious: map-get($spacings, 3);
$header-top-height: 50px;
$header-bottom-height: 85px;
$header-bottom-height-mobile: 50px;
