@import url("https://fonts.googleapis.com/css?family=Ubuntu+Condensed");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
:root {
  --typeface-body: "Ubuntu+Condensed","Open Sans","Arial","sans-serif";
  --typeface-headings: "Ubuntu+Condensed","Segoe UI","Helvetica Neue","Helvetica","Arial","sans-serif";
  --color-brand-primary: #32AED8;
  --color-brand-primary--hue: 195;
  --color-brand-primary--saturation: 68%;
  --color-brand-primary--lightness: 52%;
  --color-brand-secondary: #1F5061;
  --color-brand-secondary--hue: 195;
  --color-brand-secondary--saturation: 52%;
  --color-brand-secondary--lightness: 25%;
  --color-brand-tertiary: #ababab;
  --color-brand-tertiary--hue: 0;
  --color-brand-tertiary--saturation: 0%;
  --color-brand-tertiary--lightness: 67%;
  --color-contrast-primary: #FFFFFF;
  --color-contrast-primary--hue: 0;
  --color-contrast-primary--saturation: 0%;
  --color-contrast-primary--lightness: 100%;
  --color-contrast-secondary: #f9f9fb;
  --color-contrast-secondary--hue: 240;
  --color-contrast-secondary--saturation: 1%;
  --color-contrast-secondary--lightness: 98%;
  --color-contrast-tertiary: #f1f1f2;
  --color-contrast-tertiary--hue: 240;
  --color-contrast-tertiary--saturation: 1%;
  --color-contrast-tertiary--lightness: 95%;
  --color-brand-accent: #ff8f37;
  --color-brand-accent--hue: 26;
  --color-brand-accent--saturation: 100%;
  --color-brand-accent--lightness: 61%;
  --color-contrast-accent: #ffffff;
  --color-contrast-accent--hue: 0;
  --color-contrast-accent--saturation: 0%;
  --color-contrast-accent--lightness: 100%;
  --color-text-brand-body: #4c5356;
  --color-text-brand-body--hue: 198;
  --color-text-brand-body--saturation: 6%;
  --color-text-brand-body--lightness: 32%;
  --color-text-brand-headings: #32AED8;
  --color-text-brand-headings--hue: 195;
  --color-text-brand-headings--saturation: 68%;
  --color-text-brand-headings--lightness: 52%;
  --color-text-contrast-body: #ffffff;
  --color-text-contrast-body--hue: 0;
  --color-text-contrast-body--saturation: 0%;
  --color-text-contrast-body--lightness: 100%;
  --color-text-contrast-headings: #ffffff;
  --color-text-contrast-headings--hue: 0;
  --color-text-contrast-headings--saturation: 0%;
  --color-text-contrast-headings--lightness: 100%;
  --color-shade-darkest: #454545;
  --color-shade-darkest--hue: 0;
  --color-shade-darkest--saturation: 0%;
  --color-shade-darkest--lightness: 27%;
  --color-shade-lightest: #fafafa;
  --color-shade-lightest--hue: 0;
  --color-shade-lightest--saturation: 0%;
  --color-shade-lightest--lightness: 98%; }
